* {
  all: unset;
  border-radius: 20px;
  color: @base05;
  font-family: Cantarell;
  font-size: 18px;
}

box {
  background-color: @base00;
}

.lyrics {
  background-color: transparent;
  border-radius: 0px;
  font-size: 24px;
  margin: 20px;
  text-shadow: 5px 5px 10px @accent;
}

.albumart {
  background-repeat: no-repeat;
  background-size: 256px;
  border-radius: 20px 20px 0px 0px;
}

.songinfo .title {
  font-size: 24px;
}

.songinfo .album {
  font-size: 14px;
}

.controls {
  margin: 10px 30px;
}

.controls * {
  color: @base00;
}

.controls button {
  background-color: @accent;
  border-radius: 100%;
}
