client.focused #{{ colors.named.accent }} #{{ colors.base24.base00 }} #{{ colors.base24.base05 }} #{{ colors.named.accent_light }} #{{ colors.named.accent }}
client.focused_inactive #{{ colors.named.foreground_dark }} #{{ colors.base24.base00 }} #{{ colors.base24.base05 }} #{{ colors.named.accent_dark }} #{{ colors.named.foreground_dark }}
client.unfocused #{{ colors.named.foreground_dark }} #{{ colors.base24.base00 }} #{{ colors.base24.base05 }} #{{ colors.named.accent_dark }} #{{ colors.named.foreground_dark }}
client.urgent #{{ colors.named.accent_light }} #{{ colors.base24.base00 }} #{{ colors.base24.base05 }} #{{ colors.named.foreground_dark }} #{{ colors.named.foreground_dark }}
client.placeholder #{{ colors.named.foreground_dark }} #{{ colors.base24.base00 }} #{{ colors.base24.base05 }} #{{ colors.named.foreground_dark }} #{{ colors.named.foreground_dark }}
client.background #{{ colors.base24.base00 }}

set $font {{ vars.fonts.monospace }}
set $wallpaper {{ vars.wallpaper }}

seat * xcursor_theme "{{ vars.cursors }}" 24

# vim:ft=swayconfig.handlebars
