bar:
  height: {{#if (eq system.hostname "villainess")}}52{{else}}26{{/if}}
  location: top
  spacing: {{#if (eq system.hostname "villainess")}}20{{else}}10{{/if}}

  font: Fira Code:size={{#if (eq system.hostname "villainess")}}28{{else}}14{{/if}}, Symbols Nerd Font:size={{#if (eq system.hostname "villainess")}}28{{else}}14{{/if}}

  foreground: {{ colors.base24.base05 }}ff
  background: {{ colors.base24.base00 }}cc

  border:
    width: {{#if (eq system.hostname "villainess")}}4{{else}}2{{/if}}
    color: {{ colors.base24.base03 }}ff
    margin: 10

  left:
    - i3:
        sort: native
        anchors:
          - string: &i3_common {margin: {{#if (eq system.hostname "villainess")}}14{{else}}7{{/if}}, on-click: "swaymsg --quiet workspace {name}"}
          - string: &default {<<: *i3_common, text: "{name}"}
          - focused: &focused
              foreground: {{ colors.base24.base00 }}ff
              deco: {stack: [background: {color: {{ colors.named.accent}}ff}]}
          - invisible: &invisible {foreground: {{ colors.base24.base05 }}ff}
          - urgent: &urgent
              foreground: {{ colors.base24.base00 }}ff
              deco: {stack: [background: {color: {{ colors.base24.base08 }}ff}]}
        content:
          "":
            map:
              conditions:
                state == focused:   {string: {<<: [*default, *focused]}}
                state == unfocused: {string: {<<: *default}}
                state == invisible: {string: {<<: [*default, *invisible]}}
                state == urgent:    {string: {<<: [*default, *urgent]}}
    - foreign-toplevel:
        content:
          map:
            conditions:
              ~activated: {empty: {}}
              activated:
                - string: {text: "{app-id}", foreground: {{ colors.named.accent }}ff}
                - string: {text: ": {title}", max: 50}

  right:
    - network:
        poll-interval: 1000
        content:
          map:
            default: {empty: {}}
            conditions:
              name == wlan0:
                map:
                  default: {string: {text:  }}
                  conditions:
                    state == down: {string: {text: 󰖪 }}
                    state == up:
                      map:
                        default:
                          - string: {text: "", foreground: {{ colors.named.accent }}ff}
                          - string: {text: " {ssid}"}
                        conditions:
                          ipv4 == "":
                            - string: {text: "", foreground: {{ colors.named.accent }}ff}
                            - string: {text: " {ssid}"}
    - backlight:
        name: apple-panel-bl
        content:
          map:
            conditions:
              brightness > 0:
                - string: {text: "", foreground: {{ colors.named.accent }}ff}
                - string: {text: " {percent}%"}
    - battery:
        name: macsmc-battery
        poll-interval: 30000
        anchors:
          discharging: &discharging
            list:
              items:
                - ramp:
                    tag: capacity
                    items:
                      - string: {text: , foreground: {{ colors.base24.base08 }}ff}
                      - string: {text: , foreground: {{ colors.base24.base08 }}ff}
                      - string: {text: , foreground: {{ colors.named.accent }}ff}
                      - string: {text: , foreground: {{ colors.named.accent }}ff}
                      - string: {text: , foreground: {{ colors.named.accent }}ff}
                      - string: {text: , foreground: {{ colors.named.accent }}ff}
                      - string: {text: , foreground: {{ colors.named.accent }}ff}
                      - string: {text: , foreground: {{ colors.named.accent }}ff}
                      - string: {text: , foreground: {{ colors.named.accent }}ff}
                      - string: {text: , foreground: {{ colors.named.accent }}ff}
                - string: {text: " {capacity}%"}
        content:
          map:
            conditions:
              state == discharging:
                <<: *discharging
              state == "not charging":
                <<: *discharging
              state == charging:
                - string: {text: "", foreground: {{ colors.named.accent }}ff}
                - string: {text: " {capacity}%"}
              state == full:
                - string: {text: "", foreground: {{ colors.named.accent }}ff}
                - string: {text: " {capacity}% full"}
    - clock:
        date-format: "%Y-%m-%d"
        time-format: "%T"
        content:
          - string: {text: "", foreground: {{ colors.named.accent }}ff}
          - string: {text: " {date} {time}", right-margin: 5}

# vim:ft=yaml.handlebars
