# Colors
color normal default default
color index color2 default ~N
color index color1 default ~F
color index color13 default ~T
color index color1 default ~D
color attachment color5 default
color signature color{{#if (eq variant "dark")}}8{{else}}7{{/if}} default
color search color4 default
color indicator default color{{#if (eq variant "dark")}}8{{else}}7{{/if}}
color error color1 default
color status color{{#if (eq variant "dark")}}15{{else}}8{{/if}} default
color tree color{{#if (eq variant "dark")}}15{{else}}8{{/if}} default
color tilde color{{#if (eq variant "dark")}}15{{else}}8{{/if}} default
color hdrdefault color13 default
color header color13 default "^From:"
color header color13 default "^Subject:"
color quoted color{{#if (eq variant "dark")}}15{{else}}8{{/if}} default
color quoted1 color{{#if (eq variant "dark")}}7{{else}}0{{/if}} default
color quoted2 color{{#if (eq variant "dark")}}8{{else}}7{{/if}} default
color quoted3 color{{#if (eq variant "dark")}}0{{else}}15{{/if}} default
color quoted4 color{{#if (eq variant "dark")}}0{{else}}15{{/if}} default
color quoted5 color{{#if (eq variant "dark")}}0{{else}}15{{/if}} default
color body color2 default [\-\.+_a-zA-Z0-9]+@[\-\.a-zA-Z0-9]+
color body color2 default (https?|ftp)://[\-\.,/%~_:?&=\#a-zA-Z0-9]+
color body color4 default (^|[[:space:]])\\*[^[:space:]]+\\*([[:space:]]|$)
color body color4 default (^|[[:space:]])_[^[:space:]]+_([[:space:]]|$)
color body color4 default (^|[[:space:]])/[^[:space:]]+/([[:space:]]|$)
color sidebar_flagged color1 default
color sidebar_new color10 default
