[main]
font={{ vars.fonts.monospace }}:size=11
dpi-aware=no
icon-theme=Papirus-Dark
terminal=foot

[border]
width=2

[colors]
background={{ colors.base24.base00 }}dd
text={{ colors.base24.base05 }}ff
match={{ colors.base24.base08 }}ff
selection={{ colors.base24.base02 }}ff
selection-match={{ colors.base24.base08 }}ff
selection-text={{ colors.base24.base05 }}ff
border={{ colors.named.accent }}ff

# vim:ft=dosini.handlebars
