* {
	border: none;
	border-radius: 0;
	font-family: monospace, Symbols Nerd Font Mono;
	font-size: 14px;
	min-height: 0;
}

window#waybar {
	background: alpha(#{{ colors.base24.base00 }}, 0.5);
	border-bottom: 2px solid #{{ colors.named.accent }};
	color: #{{ colors.base24.base05 }};
}

.module {
	border-radius: 25px;
	margin-top: 5px;
	margin-bottom: 7px;
}

.modules-left {
	margin-left: 5px;
}

.modules-right {
	margin-right: 5px;
}

label.module {
	padding: 0 10px;
}

tooltip {
	background: alpha(#{{ colors.base24.base00 }}, 0.7);
	border: 2px solid alpha(#{{ colors.named.accent }}, 0.7);
}

tooltip label {
	color: #{{ colors.base24.base05 }};
}

#tags {
	background: #{{ colors.base24.base00 }};
}

#tags button {
	border-radius: 25px;
	color: #{{ colors.base24.base04 }};
	padding: 0 8px;
}

#tags button.occupied {
	color: #{{ colors.base24.base05 }};
}

#tags button.focused {
	background: #{{ colors.named.accent }};
	color: #{{ colors.base24.base00 }};
}

#mode {
	background: #{{ colors.base24.base00 }};
}

#mpd {
	background: #{{ colors.named.accent }};
	color: #{{ colors.base24.base00 }};
}

#network {
	background: #{{ colors.base24.base00 }};
	color: #{{ colors.named.accent }};
}

#wireplumber {
	background: #{{ colors.named.accent }};
	color: #{{ colors.base24.base00 }};
}

#battery {
	background: #{{ colors.base24.base00 }};
	color: #{{ colors.named.accent }};
}

#clock {
	background: #{{ colors.named.accent }};
	color: #{{ colors.base24.base00 }};
}

#tray {
	background: #{{ colors.base24.base00 }};
	padding: 0 10px;
}

#window {
	background: #{{ colors.base24.base00 }};
	color: #{{ colors.named.accent }};
	padding: 0 10px;
}

window#waybar.empty #window {
	background: transparent;
}

/*
 * vim:ft=css.handlebars
 */
