<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig>
	<alias>
		<family>monospace</family>
		<prefer>
			<family>{{ vars.fonts.monospace }}</family>
		</prefer>
	</alias>
	<alias>
		<family>sans-serif</family>
		<prefer>
			<family>{{ vars.fonts.sans_serif }}</family>
		</prefer>
	</alias>
	<alias>
		<family>serif</family>
		<prefer>
			<family>{{ vars.fonts.serif }}</family>
		</prefer>
	</alias>
</fontconfig>

<!--
	vim:ft=xml.handlebars
-->
