alang=jpn,ja
ao=pipewire
correct-downscaling
cscale=ewa_lanczossharp
deband
deinterlace=yes
fullscreen
hdr-contrast-recovery=0.30
hdr-peak-percentile=99.995
hwdec=auto-safe
save-position-on-quit
scale=ewa_lanczossharp
scale-antiring=0.6
slang=enm,eng,en
sws-fast=yes
sws-scaler=bilinear
tscale=oversample
video-sync=display-resample
{{#if (ne system.hostname "villainess") }}
vo=dmabuf-wayland
{{/if}}
ytdl-format=bestvideo[height<=1080]+bestaudio
