@define-color base00 #{{colors.base24.base00}};
@define-color base01 #{{colors.base24.base01}};
@define-color base02 #{{colors.base24.base02}};
@define-color base03 #{{colors.base24.base03}};
@define-color base04 #{{colors.base24.base04}};
@define-color base05 #{{colors.base24.base05}};
@define-color base06 #{{colors.base24.base06}};
@define-color base07 #{{colors.base24.base07}};
@define-color base08 #{{colors.base24.base08}};
@define-color base09 #{{colors.base24.base09}};
@define-color base0A #{{colors.base24.base0A}};
@define-color base0B #{{colors.base24.base0B}};
@define-color base0C #{{colors.base24.base0C}};
@define-color base0D #{{colors.base24.base0D}};
@define-color base0E #{{colors.base24.base0E}};
@define-color base0F #{{colors.base24.base0F}};
@define-color base10 #{{colors.base24.base10}};
@define-color base11 #{{colors.base24.base11}};
@define-color base12 #{{colors.base24.base12}};
@define-color base13 #{{colors.base24.base13}};
@define-color base14 #{{colors.base24.base14}};
@define-color base15 #{{colors.base24.base15}};
@define-color base16 #{{colors.base24.base16}};
@define-color base17 #{{colors.base24.base17}};

@define-color accent #{{colors.named.accent}};
@define-color accent_light #{{colors.named.accent_light}};
@define-color accent_dark #{{colors.named.accent_dark}};

@define-color window_bg_color @base00;
@define-color window_fg_color @base05;
@define-color view_bg_color @base01;
@define-color view_fg_color @base05;
@define-color accent_bg_color @accent;
@define-color accent_fg_color @base00;
@define-color accent_color @accent;
@define-color headerbar_bg_color @base01;
@define-color headerbar_backdrop_color @base00;
@define-color headerbar_fg_color @base05;
@define-color popover_bg_color @base01;
@define-color popover_fg_color @base05;
@define-color dialog_bg_color @base01;
@define-color dialog_fg_color @base05;
@define-color card_bg_color @base01;
@define-color card_fg_color @base05;
@define-color sidebar_bg_color @base01;
@define-color sidebar_fg_color @base05;
@define-color sidebar_backdrop_color @base00;
@define-color sidebar_shade_color rgba(0,0,0,0.25);
decoration {
  box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.7), 0 0 0 1px shade(@base01,1.3);
}
decoration:backdrop {
  box-shadow: 0 3px 12px 1px transparent, 0 2px 6px 2px rgba(0, 0, 0, 0.4), 0 0 0 1px shade(@base01,1.1);
}
.tiled decoration, .tiled-top decoration, .tiled-bottom decoration, .tiled-right decoration, .tiled-left decoration {
  box-shadow: 0 0 0 1px shade(@base01,1.1), 0 0 0 20px transparent;
}
messagedialog.csd decoration, .csd.popup decoration, .maximized .csd.popup decoration {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8), 0 0 0 1px alpha(shade(@base01,1.3),0.9);
}
.maximized .csd.popup decoration {
  border-radius: 6px;
}
.maximized decoration, .fullscreen decoration {
  border-radius: 0;
  box-shadow: none;
}
.ssd decoration {
  box-shadow: 0 0 0 1px shade(@base01,1.3);
}
.ssd decoration:backdrop {
  box-shadow: 0 0 0 1px shade(@base01,1.1);
}
.ssd.maximized decoration, .ssd.maximized decoration:backdrop {
  box-shadow: none;
}
.solid-csd decoration {
  box-shadow: inset 0 0 0 5px alpha(currentColor,0.5), inset 0 0 0 4px @base01, inset 0 0 0 1px alpha(currentColor,0.5);
}
.solid-csd decoration:backdrop {
  box-shadow: inset 0 0 0 3px @base00;
}

.titlebar, headerbar {
  border-bottom-color: alpha(currentColor,0.15);
}
.titlebar:backdrop, headerbar:backdrop {
  border-bottom-color: alpha(currentColor,0.2);
}

button.titlebutton,
windowcontrols > button {
  color: transparent;
  min-width: 18px;
  min-height: 18px;
}

button.titlebutton:backdrop {
  opacity: 0.5;
}

windowcontrols > button {
  border-radius: 100%;
  padding: 0;
  margin: 0 5px;
}
windowcontrols > button > image {
  padding: 0;
}

button.titlebutton.close,
windowcontrols > button.close {
  background-color: @base08;
}
button.titlebutton.close:hover,
windowcontrols > button.close:hover {
  background-color: darker(@base08);
}
button.titlebutton.close:active, button.titlebutton.maximize:active, button.titlebutton.minimize:active,
windowcontrols > button.close:active,
windowcontrols > button.maximize:active,
windowcontrols > button.minimize:active {
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.3);
}

notebook > header tab:not(:backdrop):checked.reorderable-page,
tabbar tab:not(:backdrop):checked {
  background-color: @base01;
}

.nautilus-window .sidebar {
  background-color: @base01;
}
.nautilus-window .sidebar:backdrop {
  background-color: @base00;
}
