BACKGROUND_COLOR="0x{{ colors.base24.base00 }}"
BORDER_COLOR_FOCUSED="0x{{ colors.named.accent }}"
BORDER_COLOR_UNFOCUSED="0x{{ colors.named.foreground_dark }}"
BORDER_COLOR_URGENT="0x{{ colors.named.accent_light }}"
CURSOR_THEME="{{ vars.cursors }}" 
WALLPAPER="{{ vars.wallpaper }}"

# vim:ft=sh.hbs
