background_color={{ colors.base24.base00 }}
bar_color={{ colors.base24.base05 }}
border_color={{ colors.named.accent }}

[style.muted]
bar_color={{ colors.base24.base08 }}

# vim:ft=dosini.handlebars
